// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Variables
@import 'colors';
@import './typography';
// @import 'variables';


// style

body, nav {
    background: $dark-blue;
    color: $white;
    font-family: $system-font-family;
}

#app {
    text-align: center;
    font-family: $system-font-family;
}

h1 {
    @include heading-1;
}

p {
    @include large-text-bold($purple);
}

