@import url(https://fonts.googleapis.com/css?family=Nunito);p {
  line-height: 37px;
  font-size: 24px;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/IRANSansWeb.eot?e43cfbc1a67d90e910398ded8345cd32);
  src: url(/fonts/IRANSansWeb.eot?e43cfbc1a67d90e910398ded8345cd32) format("embedded-opentype"), url(/fonts/IRANSansWeb.woff2?c6f46673e2449eb071e2c098c5190c2a) format("woff2"), url(/fonts/IRANSansWeb.woff?df14582918ca379a280e453bb3cc6ba5) format("woff"), url(/fonts/IRANSansWeb.ttf?ac22d187130d6c3433a49a1e98bfa968) format("truetype");
}

* {
  font-family: "IRANSans";
}

body,
nav {
  direction: rtl;
  text-align: right;
  background: #212c4f;
  color: #ffffff;
  font-family: "IRANSans";
}

#app {
  text-align: center;
  font-family: "IRANSans";
}

h1 {
  font-size: 80px;
  line-height: 86px;
  font-weight: bold;
  color: #ffffff;
}

p {
  font-weight: bold;
  color: #7b42f6;
}

